_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# hidden files
.*

# python compiled files
*.pyc

# jekyll debug
_site


# yui-compressor
*.jar

# Emacs system
*~

# Jekyll Cache
.jekyll-cache

# Node JS
node_modules/
package-lock.json
package.json

*.xcworkspace/

Gemfile.lock
