_site
Gemfile.lock
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock

# hidden files
.*

# python compiled files
*.pyc

# jekyll debug
_site

# Jeykll Gemfile.lock
Gemfile.lock

# yui-compressor
*.jar

# Emacs system
*~assets/avatars/avatar.jpg
