html {
    font-family: sans-serif;
    color: #080808;
  }
  body {
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
  }
  h1 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  h1 small {
    display: block;
    font-size: 1rem;
  }
  .index {
    display: flex;
    flex-direction: row;
  }
  .index .article-list {
    flex-grow: 1;
  }
  .index .article-list .article {
    margin-bottom: 1rem;
  }
  .index .article-list .date {
    display: block;
    color: #333;
  }
  .index .article-list .details {
    display: block;
    max-width: 80%;
    word-wrap: break-word;
    color: 848891;
  }
  .index aside {
    width: 40%;
  }
  .index aside img {
    display: block;
    margin: 0 auto 1rem;
    border-radius: 5px;
  }
  .index aside dt {
    font-size: 0.9rem;
  }
  .index aside dd {
    margin-left: 0;
  }
  .index aside dd:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  @media (max-width: 640px) {
    .index aside {
      display: none;
    }
  }
  article {
    margin: 0 auto;
    max-width: 720px;
    line-height: 1.3;
  }
  article img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }
  @media (max-width: 640px) {
    article img {
      max-width: calc(100% - 2rem);
    }
  }
  article .comment {
    margin: 2rem auto 0;
    max-width: 80%;
    color: #333;
  }
  .footnotes {
    font-size: 0.85rem;
  }
  footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: #333;
  }
  .float-img {
    float: right;
    display: inline;
    padding-left: 1rem;
  }
  @media (max-width: 640px) {
    .float-img {
      display: block;
      float: none;
      padding-left: inherit;
    }
  }
  pre {
    background-color: #eee;
    padding: 0.25rem 1rem;
    margin: 0 -1rem;
    max-width: 100%;
    overflow-x: auto;
  }
  pre .cp {
    color: #800;
  }
  pre .k {
    color: #008;
  }
  pre .kt,
  pre .kd,
  pre .kc {
    color: #44f;
  }
  pre .s {
    color: #484;
    font-style: italic;
  }
  pre .cm,
  pre .c1 {
    color: #333;
    font-style: italic;
  }
  pre .gi {
    color: green;
  }
  pre .gd {
    color: red;
  }
  pre .gu {
    color: blue;
  }
  .webring {
    margin-top: 2rem;
  }
  .webring h2 {
    font-size: 1.2rem;
  }
  .webring .articles {
    display: flex;
  }
  @media (max-width: 640px) {
    .webring .articles {
      flex-direction: column;
    }
  }
  .webring .title {
    margin: 0;
  }
  .webring .article {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background: #eee;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
  @media (max-width: 640px) {
    .webring .article {
      margin: 0.5rem 0;
    }
  }
  .webring .article:first-child {
    margin-left: 0;
  }
  .webring .article:last-child {
    margin-right: 0;
  }
  .webring .summary {
    font-size: 0.8rem;
    flex: 1 1 0;
  }
  .webring .attribution {
    float: right;
    font-size: 0.8rem;
    color: #555;
    line-height: 3;
  }
  .webring .date {
    color: #000;
  }
  summary {
    cursor: pointer;
    background-color: #eee;
    padding: 0.25rem 1rem;
    margin: 0 -1rem;
  }
  details[open] {
    border-bottom: 1rem solid #eee;
    margin: 0 -1rem 1rem;
    padding: 0 1rem;
  }
  .text-center {
    text-align: center;
  }
  blockquote {
    border-left: 5px solid #bbb;
    background-color: #eee;
    padding: 0 1rem;
    margin-left: calc(-1rem - 5px);
    margin-right: -1rem;
  }

