---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
  <!--link rel="stylesheet" href="{{site.baseurl}}/assets/bootstrap/css/bootstrap.min.css"-->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/bootstrap/css/footer.css?h=cabc25193678a4e8700df5b6f6e02b7c">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/aclonica.css?h=1caeb83ea080e692ba072da7ec8baf48">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/acme.css?h=9b65bb96deaf10d303517b079b9fd9b0">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/alata.css?h=6c1ad34fd14b3b9e59b8f3ba0163f7a3">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/bitter.css?h=5e83d427227b39220ff073fdacef1b83">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/gafata.css?h=d1fb98ef0c2091001120893ee8e4109d">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/lora.css?h=645492f867e8ed59cf60244a4afecb9f">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/open_sans.css?h=4920d656b72f5872bde7ad40408af959">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/space_mono.css?h=d9f15ada76f624ba5d0da340c98764a2">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/fonts/css/work-sans.css?h=c33c142a1a295b120d5f5920602ede7f">

  <link rel="stylesheet" href="{{site.baseurl}}/assets/fontawesome/css/all.min.css?h=c4af24ce595437830af0a401897698b2">
  <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"!-->

  <!--   Syntax highlighting is only needed for posts -->
  <link rel="icon" type="image/ico" href="/favicon.ico"/>
  {% if page.layout == 'post' %}
  <title>{{page.title}} - Zaryob</title>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax-highlighter.css">
  {% else %}
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>Anasayfa - Zaryob</title>
  {% endif %}
  {% endif %}

  <meta name="description" content="Kişisel bir blog.">

</head>
<body>


  <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
      <div class="container"><a class="navbar-brand" href="{{site.baseurl}}/" style="font-family: Alata, sans-serif;"><i class="fas fa-home"></i><span>&nbsp;Ev</span></a></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
          <div
              class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="font-family: Alata, sans-serif;"><i class="fas fa-cubes">&nbsp;Blog</i>&nbsp;</a>
                    <div class="dropdown-menu">,
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/posts/"><i class="far fa-clipboard"></i>&nbsp;Gönderiler</a>
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/linux/"><i class="fab fa-linux"></i>&nbsp;Linux</a>
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/internet/"><i class="fas fa-globe-europe"></i>&nbsp;İnternet</a>
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/elektronik/"><i class="fas fa-microchip"></i>&nbsp;Elektronik</a>
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/pi/"><i class="fab fa-raspberry-pi"></i>&nbsp;Raspberry Pi</a>
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/pixelart/"><i class="fab fa-artstation"></i>&nbsp;Pixel Art</a>
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/programlama/"><i class="fas fa-code"></i>&nbsp;Programlama</a>
                      <a class="dropdown-item" style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/arsiv/"><i class="fas fa-archive"></i>&nbsp;Arşiv</a>
                    </div>
                </li>

                <li class="nav-item" role="presentation"><a style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/kitapligim/"><i class="fas fa-journal-whills"></i>&nbsp;Kitaplığım</a></li>
                <li class="nav-item" role="presentation"><a style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/kilavuzlar/"><i class="fab fa-guilded"></i>&nbsp;Kılavuzlar</a></li>
                <li class="nav-item" role="presentation"><a style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/galeri/"><i class="far fa-images"></i>&nbsp;Galeri</a></li>
                <li class="nav-item" role="presentation"><a style="font-family: Alata, sans-serif;" href="{{site.baseurl}}/hakkinda/"><i class="fas fa-user"></i>&nbsp;Hakkında</a></li>
                <li class="nav-item" role="presentation"><a style="font-family: Alata, sans-serif;" href="https://github.com/Zaryob"><i class="fas fa-code-branch"></i>&nbsp;Profil</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="content">
  <!--header>
       <a href="{{site.baseurl}}/"><h1 class="site-title">{{site.title}}</h1></a>
  </header-->
  {{ content }}

  <footer class="footer-dark">
      <div class="row">
          <div class="col item social">
            <a href="https://github.com/Zaryob"><i class="fab fa-github"></i></a>
            <a href="https://gitlab.com/Zaryob"><i class="fab fa-gitlab"></i></a>
            <a href="https://bitbucket.com/Zaryob"><i class="fab fa-bitbucket"></i></a>
            <a href="https://linkedin.com/suleyman-poyraz"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://dev.to/zaryob/"><i class="fab fa-dev"></i></a>
            <a href="https://zaryob.medium.com/"><i class="fab fa-medium"></i></a>
  	  </div>
      </div>
      <p class="copyright">Sitenin Kaynak Kodları GPLv3 ile lisanslanmıştır<br>Süleyman Poyraz © 2016-2021</p>

  </footer>
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script-->
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script-->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script-->
  <script src="{{site.baseurl}}/assets/bootstrap/js/script.min.js?h=a454220fc07088bf1fdd19313b6bfd50"></script>
  <script src="{{site.baseurl}}/assets/bootstrap/js/jquery.min.js?h=dc5e7f18c8d36ac1d3d4753a87c98d0a"></script>
  <script src="{{site.baseurl}}/assets/bootstrap/js/bootstrap.bundle.min.js?h=6c07da54c4d2d77c149cca568a16930a"></script>
</div>
{% include analytics.html %}
</body>
</html>
