---
layout: default
---

<style>
    .post-content {
        line-height: 1.6;
        font-size: 1rem;
        word-wrap: break-word;
    }
    .post-content img {
            width: 80%;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }
</style>
<div class="col-md-10 col-lg-8 mx-auto">

    <div class="post-content">
    {{content}}
    </div>
</div>
