---
layout: default
---

<!DOCTYPE html>
<html>


<head>

  {% if page.image %}
  <!--header class="masthead" style="background-image:url('{{page.image}}?h={{page.imagehash}}');"-->
  <header class="masthead" style="background-image:url('{{site.baseurl}}/assets/img/pages/{{page.image}}');">

  {% else %}
  <header class="masthead">
  {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                  <div class="post-heading">
                      <h2>{{page.title}}</h2>

                      <span>
                          <time datetime="">
                            {% assign m = page.date | date: "%-m" %}
                            {{ page.date | date: "%-d" }}
                            {% case m %}
                              {% when '1' %}Ocak
                              {% when '2' %}Şubat
                              {% when '3' %}Märt
                              {% when '4' %}Nisam
                              {% when '5' %}Mayıs
                              {% when '6' %}Haziran
                              {% when '7' %}Temmuz
                              {% when '8' %}Ağustos
                              {% when '9' %}Eylül
                              {% when '10' %}Ekim
                              {% when '11' %}Kasım
                              {% when '12' %}Aralık
                            {% endcase %}
                            {{ page.date | date: "%Y" }}
                          </time>
                      </span>

                  </div>
                </div>
            </div>
        </div>
    </header>
</head>
<div class="col-md-10 col-lg-8 mx-auto">
{{content}}
</div>
</html>
